# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#Pipfile.lock

# poetry
#poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#.idea/

FancyBox/
ruffle-nightly-2024_10_27-web-selfhosted
ruffle-nightly-2024_10_27-web-selfhosted.zip
fpaworld3.swf

agent.py
dqn.py
logs/
test.ipynb
test.py
video.gif
ruffle-nightly-2024_11_03-web-selfhosted/
step*
episode*

.DS_Store
tab_bar_region.png
ppo_policy_episode*
temp*
Saved Artifacts/ppo_model*
video demos/
plots/*
secret_key.txt
wandb/
wandb/latest-run/

Fancy Pants PPO Shortened.pptx
Final Report.pdf
images/screenshots/action_distribution.png
images/screenshots/ep_length.png
"images/screenshots/ep_rewards 4.06.42\342\200\257PM.png"
images/screenshots/fpa play now screen.png
images/screenshots/fpa_enter_game.mov